<div class="col-md-6 offset-md-3">
  <div class="login-container">
    <form [formGroup]="loginForm"  id="login-form">
      <div class="form-group">
        <input type="text" id="id" formControlName="id" class="form-control" placeholder="ID" required>
      </div>
      <div class="form-group">
        <input type="text" id="username" formControlName="username" class="form-control" placeholder="Name" required>
      </div>
      <button (click)="loginAsAdmin()" type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login as Admin</button>
    </form>
    <button (click)="loginAsStudent()" class="btn btn-secondary" type="button">Login as Student</button>
  </div>
</div>
