<h2> Student List </h2>
<p-table [value]="students" [filters]="filters">
  <ng-template pTemplate="header">
    <tr>
      <th> Name
        <p-columnFilter type="text" field="name" placeholder="Search by name"></p-columnFilter>
      </th>
      <th> Grade
        <p-columnFilter type="text" field="grade" placeholder="Search by grade"></p-columnFilter>
      </th>
      <th> Study Year
        <p-columnFilter type="text" field="studyYear" placeholder="Search by study year"></p-columnFilter>
      </th>
      <th> Faculty Section
        <p-columnFilter type="text" field="facultySection" placeholder="Search by faculty section"></p-columnFilter>
      </th>
      <th> Action </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
    <tr>
      <td> {{ student.name }} </td>
      <td> {{ student.grade }} </td>
      <td> {{ student.studyYear }} </td>
      <td> {{ student.facultySection }} </td>
      <td>
        <button (click)="updateStudent(student.id)" class="btn btn-info"> Update </button>
        <button (click)="deleteStudent(student.id)" class="btn btn-danger" style="margin-left: 10px"> Delete </button>
        <button (click)="studentDetails(student.id)" class="btn btn-info" style="margin-left: 10px"> View </button>
      </td>
    </tr>
  </ng-template>
</p-table>
