<h3>View Discipline Details</h3>
<div>
    <div>
        <label><b>Id:</b></label> {{discipline?.id}}
    </div>
    <div>
        <label><b>Name:</b></label> {{discipline?.name}}
    </div>
    <div>
        <label><b>Max Students:</b></label> {{discipline?.maxStudents}}
    </div>
    <div>
        <label><b>Study Year:</b></label> {{discipline?.studyYear}}
    </div>
    <div>
        <label><b>Category:</b></label> {{discipline?.category}}
    </div>
    <div>
        <label><b>Teacher:</b></label> {{discipline?.teacher}}
    </div>
</div>
