
<div *ngIf="enrollmentsVisible">
  <h2> Subjects </h2>
  <p-table [value]="disciplines" [scrollable]="true" scrollHeight="400px">
    <ng-template pTemplate="header">
      <tr>
        <th> Name </th>
        <th> Max Students </th>
        <th> Study Year </th>
        <th> Category </th>
        <th> Teacher </th>
        <th> Action </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-discipline let-rowIndex="rowIndex">
      <tr pDraggable="disciplines" pDroppable="disciplines" (onDragStart)="dragStart(discipline)" (onDrop)="drop($event, rowIndex)"  [dragEffect]="'move'" [dropEffect]="'move'">
        <td>{{ discipline.name }}</td>
        <td>{{ discipline.maxStudents }}</td>
        <td>{{ discipline.studyYear }}</td>
        <td>{{ discipline.category }}</td>
        <td>{{ discipline.teacher }}</td>
        <td>
          <button (click)="viewDiscipline(discipline.id)" class="btn btn-info" style="margin-left: 10px"> View </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="!enrollmentsVisible">
  <h2>Enrolled Subjects</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Year</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let discipline of enrolledDisciplines">
      <tr>
        <td>{{ discipline.id }}</td>
        <td>{{ discipline.name }}</td>
        <td>{{ discipline.studyYear }}</td>
        <td>
          <p-button (click)="filterEnrollmentsByDiscipline(discipline.name); studentEnrolled()">View Enrolled Students</p-button>
        </td>
        
        <h3>Enrolled Students:</h3>
        <ul>
          <li *ngFor="let student of filteredStudent ">
            {{student.name}}
          </li>
        </ul>
      </tr>

    </ng-container>
    </tbody>
  </table>
</div>








<style>
  th, td {
    padding: 5px 8px;
    font-size: 0.9em;
  }
  .button-group {
    display: flex;
    align-items: center;
  }
  .button-group button {
    margin-right: 5px;
  }
</style>
