<h2> Subjects </h2>
<div *ngIf="!enrollmentsVisible">
  <p-table [value]="disciplines" [scrollable]="true" scrollHeight="400px">
    <ng-template pTemplate="header">
      <tr>
        <th> Name </th>
        <th> Max Students </th>
        <th> Study Year </th>
        <th> Category </th>
        <th> Teacher </th>
        <th> Action </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-discipline let-rowIndex="rowIndex">
      <tr pDraggable="disciplines" pDroppable="disciplines" (onDragStart)="dragStart(discipline)" (onDrop)="drop($event, rowIndex)" (onDragOver)="dragOver($event)" [dragEffect]="'move'" [dropEffect]="'move'">
        <td>{{ discipline.name }}</td>
        <td>{{ discipline.maxStudents }}</td>
        <td>{{ discipline.studyYear }}</td>
        <td>{{ discipline.category }}</td>
        <td>{{ discipline.teacher }}</td>
        <td>
          <button (click)="viewDiscipline(discipline.id)" class="btn btn-info" style="margin-left: 10px"> View </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div >
  <h2>Current Positions</h2>
  <ul>
    <li *ngFor="let position of getPositions()">
      Discipline ID: {{ position.id }}, Position: {{ position.position }}
    </li>
  </ul>
</div>

<div *ngIf="enrollmentsVisible">

    <h2>Enrolled Subjects</h2>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Year</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let discipline of enrolledDisciplines">
        <td>{{ discipline.id }}</td>
        <td>{{ discipline.name }}</td>
        <td>{{ discipline.studyYear }}</td>
      </tr>
      </tbody>
    </table>

</div>

<style>
  th, td {
    padding: 5px 8px;
    font-size: 0.9em;
  }
  .button-group {
    display: flex;
    align-items: center;
  }
  .button-group button {
    margin-right: 5px;
  }
</style>
