<h3> View Student Details</h3>
<div>
    <div>
        <label> <b> Id: </b></label> {{student?.id}}
    </div>
    <div>
        <label> <b> UserType: </b></label> {{student?.userType}}
    </div>
    <div>
        <label> <b> Name: </b></label> {{student?.name}}
    </div>
    <div>
        <label> <b> Grade: </b></label> {{student?.grade}}
    </div>
    <div>
        <label> <b> Study Year: </b></label> {{student?.studyYear}}
    </div>
    <div>
        <label> <b> Faculty Section: </b></label> {{student?.facultySection}}
    </div>
</div>
